<div class="container">


    <div class="row row-cols-2">
      <div class="col cont_form">
         <form id="form_cad" action="">
         <div>
          <h3>Informações Pessoais</h3>
          <label for="perfil">Perfil*</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Pessoa Física</option>
            <option value="1">Pessoa Júridica</option>
          </select><br>
          <label for="Nome">Nome*</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite seu nome"><br>

          <div class="row">
            <div class="col">
              <label for="cpf">CPF*</label>
              <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00">
            </div>
            <div class="col">
              <label for="rg">RG*</label>
              <input type="text" class="form-control" id="rg" name="rg" ><br>
            </div>

          <div class="row">
            <div class="col">
              <label for="nasc">Data de Nascimento</label>
              <input type="text" class="form-control" id="nasc" name="nasc" >
            </div>

            <div class="col">
              <label for="perfil">Sexo</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Selecione</option>
                <option id="f" value="1">Feminino</option>
                <option id="m" value="2">Masculino</option>
                <option id="o" value="3">Outro</option>
              </select>
            </div>
            <div class="col">
              <label for="perfil">Estado Cívil</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Selecione</option>
                <option id="s" value="1">Solteiro(a)</option>
                <option id="c" value="2">Casado(a)</option>
                <option id="v" value="3">Viúvo(a)</option>
                <option id="se" value="4">Separado(a)</option>
              </select><br>
            </div>

            <div class="row">
              <div class="col">
                <label for="nasc">Telefone*</label>
                <input type="text" class="form-control" id="tel" name="tel" placeholder="(00)0000-0000">
              </div>
              <div class="col">
                <label for="nasc">Celular*</label>
                <input type="text" class="form-control" id="cel" name="cel" placeholder="(00)00000-0000" ><br>
              </div>

            </div><br>
            <hr>
            <h3>Crie sua conta</h3>
            <div class="row">
              <div class="col">
                <label for="nasc">Email*</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="@" >
              </div>
              <div class="col">
                <label for="nasc">Senha*</label>
                <input type="password" class="form-control" id="cel" name="cel" placeholder="********" >
              </div>

            </div>

          </div>

          </div>

         </div>


     </form>
    </div>
      <div class="col cont_form">
        <h3>Endereço</h3>
        <div class="row">
          <div class="col">
            <label for="nasc">CEP*</label>
            <input type="text" class="form-control" id="cep" name="cep" placeholder="00000-000">

          </div>
          <div class="col link">
            <a class="link" href="url">Esqueceu seu CEP? Consulte aqui</a><br><br>
          </div>

        </div>
        <label for="nasc">Endereço*</label>
        <input type="text" class="form-control" id="end" name="end" placeholder="Endereço"><br>

        <div class="row">
          <div class="col">
            <label for="nasc">Número*</label>
             <input type="text" class="form-control" id="n" name="nuber" placeholder="numero">
          </div>
          <div class="col">
            <label for="nasc">Bairro*</label>
            <input type="text" class="form-control" id="bairro" name="bairro" placeholder="bairro"><br>
          </div>
          <div class="row">
             <div class="col">
                 <input class="btn" type="submit" value="Cadatrar">
             </div>
             <div class="col">
              <input class="btn" type="reset" value="Cancelar">
            </div>
          </div>

        </div>





      </div>


  </div><br><br>








</div>
