.lista-vagas{
  padding: 20px;
  margin: 5px;
  display: flex;

  text-align: center;
}

.mural{
  background-color: #f9fcf8;
  width: 82.5%;
}

.card{
  width: 300px;
  height: auto;

}



.btn_compra{
  background-color: green;
  color: white;
  font-weight: bolder;
}

.lka{
  color: red;
  font-weight: bolder;
}


.ii{
  color: green;
  font-weight: bolder;
}



.nd{
  color: rgb(60, 159, 240);
  font-weight: bolder;
}


.hs{
  color: orange;
  font-weight: bolder;
}

