<div class="container mural">
  <h1 class="text-center"><span class="lka">L</span><span class="ii">i</span><span class="nd">n</span><span class="hs">h</span><span class="lka">a</span><span class="lka">K</span><span class="ii">i</span><span class="nd">d</span><span class="hs">s</span></h1>
  <div class="row">
    <div class="col-sm lista-vagas">
       <div class="card" >
           <img src="assets\imagens\frasco.png" alt="...">
           <div class="card-body">
             <h3>Floral ATENÇÃO! para TDA – 30ml</h3>
              Alternativa floral para auxiliar no tratamento do Transtorno do Déficit de Atenção sem hiperatividade, TDA.
             <a href="http://localhost:4200/mural-vagasmed" class=" btn btn_compra "> Comprar </a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-vagas">
      <div class="card">
         <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Floral Criança Zen – Calma e Felicidade 30ml</h3>
            O floral Criança Zen desperta a felicidade e sabedoria para a criança se manter mais tranquila.<br>
           <a href="http://localhost:4200/linha-kids" class=" btn btn_compra "> Comprar </a>
         </div>
       </div>

  </div>
    <div class="col-sm lista-vagas">
      <div class="card">
        <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3> Floral Baby - Coordenação motora 30mL Sem álcool</h3>
            Floral indicado para bebês com finalidade de harmonização emocional paramelhora da coordenação motora nos bebês.


           <a href="http://localhost:4200/florais-pets" class=" btn btn_compra  "> Comprar </a>
        </div>
      </div>
    </div>
  </div>


