.lista-vagas{
  padding: 20px;
  margin: 5px;
  display: flex;

  text-align: center;
}

.mural{
  background-color: #f9fcf8;
  width: 82.5%;
}

.card{
  width: 300px;
  height: auto;

}



.btn_compra{
  background-color: green;
  color: white;
  font-weight: bolder;
}


h3{
  font-weight: bolder;
  color: #055659;

}
h1{
  font-weight: bolder;
  color: #055659;
}

