<div class="container mural">
  <h1 class="text-center">Adolescência</h1>
  <div class="row">
    <div class="col-sm lista-vagas">
       <div class="card" >
           <img src="assets\imagens\frasco.png" alt="...">
           <div class="card-body">
             <h3>Fobia Escolar 30ml</h3>
              Floral para Fobia Escolar, quando os sentimentos de medo e angústia tomam conta em contato com outras criançasbr><br><br>
             <a href="http://localhost:4200/mural-vagasmed" class=" btn btn_compra "> Comprar </a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-vagas">
      <div class="card">
         <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Sobrepeso Infantil 30ml</h3>
            Floral para o tratamento da baixa autoestima em crianças com sobrepeso.<br><br><br>
           <a href="http://localhost:4200/linha-kids" class=" btn btn_compra "> Comprar </a>
         </div>
       </div>

  </div>
    <div class="col-sm lista-vagas">
      <div class="card">
        <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3> FaseTeen para Adolescentes - 30ml</h3>
            Floral Fase Subversiva Teens  potencializa o amadurecimento psíquico e biológico nesta fase da vida.<br>


           <a href="http://localhost:4200/florais-pets" class=" btn btn_compra  "> Comprar </a>
        </div>
      </div>
    </div>
  </div>
