<div class="container">
   <div  class="row">
       <div class="col">
        <h1>Sobre os Florais de Bach</h1>
        <p>Os Florais de Bach são compostos extraídos das flores, idealizados e desenvolvidos pelo Dr. Edward Bach, médico britânico, que acreditava que fatores psicológicos, mentais e o estado de espírito são os grandes causadores de doenças.</p>
        <p>Pensando nisso, ele estudou 38 essências naturais de flores para tratar desequilíbrios emocionais, relacionando cada uma delas a uma emoção humana básica.</p>
        <p>Há quase 100 anos os Florais de Bach vem sendo utilizados mundialmente como terapia complementar e são reconhecidos pela Organização Mundial da Saúde (OMS) como forma de fortalecimento entre corpo e mente, inclusive, como prática integrativa do SUS.</p>
        <p>Edward Bach já dizia: Trate a pessoa e não a doença! E é assim que os Florais de Bach agem, ajudando individualmente cada organismo a buscar o equilíbrio das emoções.</p>

       </div>
       <div class="col">
        <img src="assets\imagens\floral2.jpg" alt="...">
      </div>

   </div>
</div>
