<div class="container mural">
  <h1 class="text-center">Linha Pets</h1>
  <div class="row">
    <div class="col-sm lista-pets">
       <div class="card" >
           <img src="assets\imagens\frasco.png" alt="...">
           <div class="card-body">
             <h3>Pets Idosos - 30ml Sem Álcool</h3>
             Proporcionar uma melhor qualidade de vida para seu pet, diminuindo o estresse...<br><br>
             <a href="http://localhost:4200/mural-vagasmed" class=" btn btn_compra "> Comprar </a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-pets">
      <div class="card">
         <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Separação da Ninhada  60g</h3>
            Acalma o filhote que foi recém separado da sua mãe...<br><br>
           <a href="http://localhost:4200/linha-kids" class=" btn btn_compra "> Comprar </a>
         </div>
       </div>

  </div>
    <div class="col-sm lista-pets">
      <div class="card">
        <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3>Luto 30g</h3>
            Atua sobre os sentimentos de perda dos companheiros PET’S e a angustia e solidão sentida.<br>


           <a href="http://localhost:4200/florais-pets" class=" btn btn_compra  "> Comprar </a>
        </div>
      </div>
    </div>
  </div>
