<div class="container">
<h1>Área do Cliente</h1><br><br>

  <div class="row">
    <div class="col cont ">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg> Email,CPF ou CNPJ <br>
      <input class="form-control"  type="text"  placeholder="Email" aria-label="default input example"><br>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
      </svg>Senha<br>
      <input class="form-control" type="text" placeholder="Senha" aria-label="default input example">
      <div class="d-grid gap-2"><br><br>
        <button cbutton class="btn btn_lgcd" type="button">LOGIN</button>
        <a class="link" href="url">Esqueceu sua senha? Recuperar senha</a>
      </div>
    </div>

    <div class="col cont">

      <div class="d-grid gap-2 btn_cad">
        <a href="http://localhost:4200/cadastro" class="btn btn_lgcd "> PRIMEIRO ACESSO? CADASTRE-SE </a>

      </div>
    </div>
</div>
