.logo{
  width: 300px;
  height: 100px;
  padding: 0%;
}

.itens_superior_menu{
   align-items: center;
   padding-right: 40px;
}

.menu{
  background-color: #d8e9ce;
  padding: 10px;
  height: auto;

}

a{
  font-weight: bold;
  color: #055659;
}
