
<div class="container">
  <div class="row">
    <h2>Transtorno</h2>
    <hr>
    <div class="col-sm lista-adultos">
       <div class="card" >
           <img src="assets\imagens\frasco.png" alt="...">
           <div class="card-body">
             <h3>Relax</h3>
            Auxiliar o fortalecimento do equilíbrio emocional e sensação de autocontrole.<br><br>
             <a href="http://localhost:4200/" class=" btn btn_compra "> Comprar </a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-adultos">
      <div class="card">
         <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Magnus - 30ml</h3>
           Floral de Bach Coragem <br><br><br>
           <a href="http://localhost:4200/" class=" btn btn_compra "> Comprar </a>
         </div>
       </div>
  </div>
  <div class="col-sm lista-adultos">
    <div class="card">
      <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3> Fobias 30ml</h3>
          Floral energizado pela terapia Reiki para o tratamento de Fobias. O floral desperta a confiança e equilíbrio. <br><br>
          <a href="http://localhost:4200/" class=" btn btn_compra  "> Comprar </a>
      </div>
    </div>
  </div>
</div>
