<div class="container mural">
  <h1 class="text-center"> Segunda Infância</h1>
  <div class="row">
    <div class="col-sm lista-vagas">
       <div class="card" >
           <img src="assets\imagens\frasco.png" alt="...">
           <div class="card-body">
             <h3>Autismo (TEA) 30ml</h3>
              Floral desenvolvido para o tratamento do autismo<br><br><br>
             <a href="http://localhost:4200/mural-vagasmed" class=" btn btn_compra "> Comprar </a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-vagas">
      <div class="card">
         <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Anti-Terror Noturno - 30ml</h3>
           Para quem sofre de terror noturno  e tem dificuldades para dormir sozinho, desencadeado por fator emocional.<br><br>
           <a href="http://localhost:4200/linha-kids" class=" btn btn_compra "> Comprar </a>
         </div>
       </div>

  </div>
    <div class="col-sm lista-vagas">
      <div class="card">
        <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3> Floral Baby - Coordenação motora 30mL Sem álcool</h3>
            Floral indicado para bebês com finalidade de harmonização emocional paramelhora da coordenação motora nos bebês.


           <a href="http://localhost:4200/florais-pets" class=" btn btn_compra  "> Comprar </a>
        </div>
      </div>
    </div>
  </div>
