<div class="container">
  <div class="row">
    <h2>Autoconhecimento</h2>
    <hr>
    <div class="col-sm lista-adultos">
       <div class="card" >
           <img src="assets\imagens\frasco.png" alt="...">
           <div class="card-body">
             <h3>Alcace</h3>
             Para pessoas sonhadoras, que idealizam muito mas não concretizam seus ideais..<br><br>
             <a href="http://localhost:4200/mural-vagasmed" class=" btn btn_compra "> Comprar </a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-adultos">
      <div class="card">
         <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>CogniMax -  30ml</h3>
            Alternativa 100% natural para melhora da cognição e disposição. <br><br>
           <a href="http://localhost:4200/linha-kids" class=" btn btn_compra "> Comprar </a>
         </div>
       </div>
  </div>
  <div class="col-sm lista-adultos">
    <div class="card">
      <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3> Floral Apoio Emocional - 30mL</h3>
          Floral indicado para quem passou por fortes abalos emocionais..<br><br>
          <a href="http://localhost:4200/florais-pets" class=" btn btn_compra  "> Comprar </a>
      </div>
    </div>
  </div>
</div>
