<div class="container">
  <div class="row">
    <h2>Emocional</h2>
    <hr>
    <div class="col-sm lista-adultos">
       <div class="card" >
           <img src="assets\imagens\frasco.png" alt="...">
           <div class="card-body">
             <h3>Extrato Fluido de Catuaba – 100ml</h3>
              Afrodisiaco<br><br>
             <a href="http://localhost:4200/" class=" btn btn_compra "> Comprar </a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-adultos">
      <div class="card">
         <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Floral Booster de Fertilidade 60mL</h3>
            O floral foi desenvolvido para ajudar no equilíbrio emocional e favorecer o casal na conquista do objetivo de ter um bebê. <br><br><br>
           <a href="http://localhost:4200/" class=" btn btn_compra "> Comprar </a>
         </div>
       </div>
  </div>
  <div class="col-sm lista-adultos">
    <div class="card">
      <img src="assets\imagens\frasco.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3> Durma bem -  100ml. </h3>Calmante para diminuição da Insônia e Ansiedade <br><br>
          <a href="http://localhost:4200/" class=" btn btn_compra  "> Comprar </a>
      </div>
    </div>
  </div>
</div>
